@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    color: white;
}

.logoimg {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

img {
    margin-top: 5em;
    margin-bottom: 5em;
    width: 150px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}